<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Data Outpost</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" >
        <link rel="stylesheet" type="text/css" href="/static/home/style.css">
    </head>
    <body>
        <header>
            <div class="container">
            <h1 class="logo">Data Outpost</h1>
            <strong><nav>
          
            </nav></strong>
        </div>
        </header>

        <div class="instructions">
            <p>

                Orci varius natoque penatibus et magnis dis parturient montes, 
                nascetur ridiculus mus. Nunc ligula magna, volutpat nec orci et, 
                sagittis aliquam augue. Quisque ut neque non mauris hendrerit 
                sollicitudin. Curabitur massa est, condimentum sed lacus id, 
                lacinia condimentum lacus. Nulla lectus elit, 
                laoreet in velit eu, pellentesque molestie magna. 
                Pellentesque vel tincidunt purus. Nulla rutrum, 
                libero ac congue aliquet, metus magna tempor lectus, 
                eu hendrerit nisi tortor et lorem. Maecenas posuere, 
                lacus nec tincidunt auctor, sem urna dignissim turpis, 
                quis auctor purus felis vel risus. Sed nisl erat, 
                suscipit a risus ut, sollicitudin aliquet magna. 
            </p>
        </div>
        
        <div class="social">
            
            
        </div>
    </body>
    
</html>

